*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin: 0 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    max-width: 1136px;
    margin:auto;
}
header{
    background-color: rgb(39, 68, 10);
    margin:30px 0 60px;
    padding:20px;
}
header h1{
    color: #fff;;
}
.wrapper img{
    width:100%;
    height: 100%;
}
.wrapper .item1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row:2;
    background-color: rgb(39, 68, 10);
    padding:30px;
}
.wrapper h3{
    color:#fff;
    font-size:40px;
    margin-bottom: 20px;
}
.wrapper p{
    color:#fff;
    font-size: 18px;
    margin-bottom: 20px;
}
.wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    grid-gap:20px;
    margin-bottom: 30px;
}